*{
  margin: 0;
  padding: 0;
}

:root{

  --blue : #4D5B9E;
  --lavender : #D6DBF5;
  --celadon : #94D7A2;
  --misty-rose : #F7D9DB;
  --marian-blue : #3E4772;
}

body{
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  width: 100%;
  min-width: 600px;
  background-color: #eceef5;
}

/* ======= Welcome Page ======= */

.welcome-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("./assets/images/blob-blue.png") no-repeat top right, url("./assets/images/blob-yellow.png") no-repeat bottom left;
}

.title{
  font-size: 4.5em;
  letter-spacing: 2px;
}

.title-headline{
  font-size: 1.6em;
  margin-bottom: 2em;
  letter-spacing: 1px;
}

.title,
.title-headline{
  color: var(--marian-blue);
}

.btn{
  padding: 1.2em 4.8em;
  background-color: var(--blue);
  color: white;
  border-radius: .8em;
  text-decoration: none;
  font-size: 1.4em;
}

.btn:active{
  box-shadow: inset 1px 4px 4px black;
}


/* ======= Quiz Page ====== */

.loading{
  font-size: 2.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./assets/images/blob-blue.png") no-repeat bottom right, url("./assets/images/blob-yellow.png") no-repeat top left, url("./assets/images/small-blob-blue.png") no-repeat bottom left;
}

input[type="radio"]{
  display: none;
}

label{
  font-size: 1.2em;
  padding: .2em 1em;
  border: 1px solid var(--lavender);
}

.score{
  margin-bottom: 1em;
}


/*===== Questions ======  */

.question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4em;
}

.question-list{
  margin: .8em 0;
}

.answer-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-label{
  margin-right: 1em;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.answer-label--selected {
  background-color: var(--lavender);
}

.answer-label--correct{
  background-color: var(--celadon);
}

.answer-label--incorrect{
  background-color: var(--misty-rose);
}

.answer-label--unselected{
  background-color: transparent;
  opacity: .6;
  cursor: not-allowed;
}

/* ===== buttons ===== */

.check-answers-btn,
.reset-btn{
  padding: 1.2em 2.4em;
  background-color: var(--blue);
  color: white;
  border: 0;
  border-radius: 1em;
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
}

.check-answers-btn:disabled{
  opacity:.6;
  cursor:default;
}

.reset-btn{
  margin-bottom: 2em;
}


@media (max-width: 500px){
  .question-list{
    text-align: center;
  }


  .answer-container{
    flex-direction: column;
  }

  .answer-label{
    margin-bottom: 1em;
  }
}
